@import "tailwindcss";

*{
     font-family: "Public Sans", sans-serif;
}

@keyframes badge-success {
  0% {
    transform: scale(0.5) rotate(-15deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.3) rotate(10deg);
    opacity: 1;
  }
  75% {
    transform: scale(1.1) rotate(-5deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.animate-badge-success {
  animation: badge-success 1.2s ease-out forwards;
}

.sidebar-logo, .logo h1{
   font-family: "Rouge Script", cursive;
   letter-spacing: 2px;
   font-weight: 900 !important;
}

.home-content{
  font-family: "Noto Sans Mono", monospace;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.animate-slideUp {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideDown {
  from { transform: translateY(0); }
  to { transform: translateY(100%); }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* Hide scrollbar for textarea */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar-table {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar-table::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}